{% extends 'base.html' %}
{% load static %}

{% block corpo %}
    <div class="container mb-5" style="margin-top: 120px;">
        <h3 class="font-weight-bold mb-4">Hi, welcome to The Beauty Insider!</h3>
        <p class="font-weight-normal text-justify">
        We make products designed with your real beauty routine in mind. Here you’ll find skincare, makeup, body care, and fragrance, all painstakingly perfected to be worthy of your bathroom shelf.
        </p>
        <p class="font-weight-normal text-justify">
        Now, we’re building the future beauty company where everything we make starts with you. We create the products you tell us you wish existed. We believe in thoughtful design, and enabling conversation (which is where it all starts). But most of all, we believe that beauty is about having fun, wherever you are in your journey.
        </p>
        <p class="font-weight-normal text-justify">
        It’s nice to meet you! Now that you're here, take a look around. Meet our products, see them in action, and let us know what you think.
        </p>
    </div>

    <div class="card-deck mx-auto">
        <div class="col-sm-6 col-lg-6 mb-4">
            <img class="card-img-top" src="{% static 'images/other/aboutus1.png' %}" class="rounded" alt="makeup">
        </div>
        <div class="col-sm-6 col-lg-6 mb-4">
            <img class="card-img-top" src="{% static 'images/other/aboutus6.jpg' %}" class="rounded" alt="makeup">
        </div>
        <div class="col-sm-6 col-lg-6 mb-4">
            <img class="card-img-top" src="{% static 'images/other/aboutus5.jpg' %}" class="rounded" alt="makeup">
        </div>
        <div class="col-sm-6 col-lg-6 mb-4">
            <img class="card-img-top" src="{% static 'images/other/aboutus4.png' %}" class="rounded" alt="makeup">
        </div>
    </div>
{% endblock %}